<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Comic Recommend</title>
  </head>
  <body>
    <h1>Comic Recomend</h1>
    <p>Now developing...</p>
    <p>4月中旬にはローンチしたい</p>
  </body>
</html>