<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <p>Homeページ</p>
    <p>Now developing...</p>
    <p>4月中旬にはローンチしたい</p>
    <h2><b>〇〇におすすめのマンガ</b></h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
    <h2>〇〇におすすめのマンガ</h2>
  </body>
</html>