<footer class="footer text-center">
  <nav>
    <%= link_to "マンガしるべとは？", about_path %>
    <%= link_to "お問い合わせ", contact_path %>
    <%= link_to "利用規約", use_policy_path %>
    <%= link_to "プライバシーポリシー", privacy_policy_path %>
  </nav>
  <div class="copyright text-center text-muted">
    <br>© 2020 マンガしるべ　All Rigths Reserved.
  </div>
</footer>