<footer class="footer text-center">
  <nav>
    <%= link_to "マンガしるべとは？", '#' %>
    <%= link_to "お問い合わせ", '#' %>
    <%= link_to "利用規約", '#' %>
    <%= link_to "プライバシーポリシー", '#' %>
  </nav>
  <div class="copyright text-center text-muted">
    <br>© 2020 マンガしるべ　All Rigths Reserved.
  </div>
</footer>