<header class="navbar navbar-fixed-top">
  <div class="container">
  <%= link_to "マンガしるべ", root_path, id: "logo" %>
      <div class="search navbar-right">
        <form id="form" action="#">
          <input id="input" type="text" placeholder="検索"><input id="submit" type="submit" value="">
        </form>
      </div>
  </div>
</header>